body{
	background: #F3F5FC;
}

.container{


position: relative;
flex-direction: column;
align-items: center;
width: 100%;
height: 100%;
display: flex;

padding: 0 20px;

background: #F3F5FC;
}

.imgTitulo{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 40px;

	position: absolute;
	width: 120px;
	height: 48px;
	left: 40px;
	top: 40px;
}

.imgSinTexto{
	position: absolute;
	width: 336px;
	height: 304px;
	left: 72%;
	top: 200px;
}

.cajaTexto{
	position: absolute;
	width: 577px;
	height: 48px;
	left: 240px;
	top: 168px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;

	color: #0A3871;
}

.botonEnc{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 24px;
	gap: 8px;

	width: 328px;
	height: 67px;

	background: #0A3871;
	border-radius: 24px;

	flex: none;
	order: 0;
	flex-grow: 0;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;

	color: #ffffff;
}

.cajaRespuesta{
	display: none;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;

	position: absolute;
	width: 336px;
	height: 122px;
	left: 72%;
	top: 619px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;

	color: #0A3871;

}

.botonDesc{
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 24px;
	gap: 8px;

	width: 328px;
	height: 67px;

	background: #D8DFE8;

	border: 1px solid #0A3871;
	border-radius: 24px;

	flex: none;
	order: 1;
	flex-grow: 0;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	text-align: center;

	color: #000000;
}

.botonCopia{

	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 24px;
	gap: 8px;

	width: 328px;
	height: 67px;

	background: white;

	border: 1px solid #0A3871;
	border-radius: 24px;

	flex: none;
	order: 1;
	flex-grow: 0;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	text-align: right;

	color: #000000;
}

.bgResultado{
	

	position: absolute;
	width: 400px;
	height: 944px;
	left: 70%;
	top: 40px;

	
	background: #f7f7f7;
	
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	border-radius: 32px;
}

.containerBotonEncDesc{
	display: flex;
	flex-direction: row;
	padding: 0px;
	gap: 24px;

	position: absolute;
	width: 680px;
	height: 67px;
	left: 240px;
	top: 885px;
	
	text-align: center;
}

.containerBotonCopia{

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 24px;
	gap: 8px;

	position: absolute;
	width: 336px;
	height: 67px;
	left: 71%;
	top: 858px;
}

.noInfo{
	/* Ningún mensaje fue encontrado */

	width: 336px;
	height: 58px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-size: 32px;
	line-height: 180%;
	/* or 29px */
	text-align: center;

	/* Gray/gray-500 */
	color: #343A40;


	/* Inside auto layout */
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	


}

.containerNoInfo{
	/* Frame 5 */

	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;

	position: absolute;
	width: 336px;
	height: 122px;
	left: 72%;
	top: 619px;

}

.imgExito{
	position: absolute;
	width: 336px;
	height: 304px;
	left: 72%;
	top: 200px;
	display: none;
}
